@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
    /* DEFUALT SETTINGS */
    --title-text: 20px;
    --aside-text: 12px;
    --main-color: #ff7c93;
}

#root {
    display: flex;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
}

.title-text {
    font-size: var(--title-text);
    font-weight: 700;
}

.aside-text {
    font-size: var(--aside-text);
    color: gray;
    font-weight: 700;
}

.bg-main {
    background-color: rgb(182, 201, 186);
}
