.se-option-container {
    display: flex;
    background-color: rgb(199, 198, 198);
    border: solid black 1px;
    margin-left: 2px;
    margin-right: 2px;
    align-items: center;
}

.se-selected-option-text {
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.se-close-btn-container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 2px;
}

.se-close-btn-container:hover {
    background-color: rgb(255, 111, 111);
}
